*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
.root{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(58, 58, 58);
}
/*-------------------PAGE-1--------------------*/
.root .page-1{
    height: 100vh;
    width: 100%;
    background: black;
    overflow: hidden;
    margin-bottom: 10px;
    background-image:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),url(./assets/background.jpg);
    
}
.page-1 h1{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 67vw;
    text-align: center;
    font-size: 3rem;
}
.page-1 h4{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 41%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 67vw;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    
}
.page-1 .membership{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 44%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 67vw;
    text-align: center;
    
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    
}
.page-1 .signup{

    position: relative;
    top: 44%;
    left: 53%;
    transform: translate(-50% , -50%);
    width: 17vw;
    display: flex;
    

}
.page-1 .nav{
    display: flex;
}

.page-1 .nav .dropdown{
    padding: 10px 10px;
}

.page-1 button{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: -15vw;
    position: relative;
    top: 50%;
    border-radius: 6px;
    cursor: pointer;
}
.page-1 .nav{
    display: flex;
    justify-content: flex-end;
    gap: 16rem;
    left: 10vw;
    position: relative;
    top: 5%;
}
.page-1 .nav select{
    width: 7vw;
    height: 5vh;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    /* justify-content: center; */
    position: relative;
    background: rgba(9, 9, 9, 0.8);
    border: 0.5px solid rgb(129, 129, 129);
    color: aliceblue;
}
.page-1 .logo{
    position: absolute;
    
    width: 10.5rem;
    height: 3.5rem;
    top: 0.5%;
    left: 10%;
    color: rgb(229,9,20);
    fill: currentColor;
    display: block;
}
.page-1 .nav button{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: -15vw;
    position: relative;
    top: 50%;
    border-radius: 6px;
    cursor: pointer;
}
.page-1 button:hover{
    background-color: #bc0000;
    transition: 0.5s ease;
}
.page-1 button .h4{
    width: 10vw;
    font-size: x-large;
}
.page-1 #email{
    width: 25vw;
    height: 8vh;
    position: relative;
    left: -15.4vw;
    margin-top: 60px;
    border-radius: 6px;
    background: rgba(9, 9, 9, 0.8);
    border: 0.5px solid rgb(129, 129, 129);
   
}
.page-1 #email::placeholder{
    color: #b0b0b0;
    padding: 0 20px;
    font-size: 17px;
    
    
}
.background{
   
    height: 150%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}
/*-------------------PAGE-2--------------------*/
.root .page-2{
    height: 80vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.page-2 h1{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    
    position: relative;
    top: 37%;
    left: 10%;
    width: 31vw;
}   
.page-2 .tv{
    position: relative;
    left: 53%;
    width: 39vw;
    top: -6%;
    z-index: 1;
}
.page-2 .video{
    width: 30%;
    position: relative;
    left: 18.5%;
    top: -23%;
}

.page-2 h4{
    font-weight: 400;
    color: aliceblue;
    position: relative;
    top: 40%;
    left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    width: 45vw;
}
/*-------------------PAGE-3--------------------*/
.root .page-3{
    height: 80vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.page-3 h1{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    position: relative;
    top: -52%;
    left: 47%;
    width: 39vw;

}
.page-3 h4{
    font-weight: 400;
    color: aliceblue;
    position: relative;
    top: -49%;
    left: 47%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    width: 34vw;
}
.page-3 .mobile{
    position: relative;
    left: 8vw;
    top: 7%;
    width: 40vw;
}
.page-3 .box{
    background-color: black;
    height: 15vh;
    width: 20vw;
    position: relative;
    left: 18vw;
    top: -40vh;
    border-radius: 15px;
    border: 2px solid #707070;
    z-index: 1;
}

.page-3 .box .boxshot{
    position: absolute;
    width: 19%;
    left: 1vw;
    top: 9%;
}
.page-3 .box h5{
    color: aliceblue;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 15vw;
    left: 6vw;
    top: 32%;
    font-size: 15px;
    font-weight: 100;
}
.page-3 .box .download{
    color: blue;
}
.page-3 .box .gif{
    position: absolute;
    width: 17%;
    left: 15vw;
    top: 28%;
}
/*-------------------PAGE-4--------------------*/
.root .page-4{
    height: 80vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.page-4 h1{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    position: relative;
    top: 37%;
    left: 10%;
    width: 39vw;

}
.page-4 h4{
    font-weight: 400;
    color: aliceblue;
    position: relative;
    top: 40%;
    left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    width: 34vw;
}



.page-4 .image-3{
    position: relative;
    width: 40%;
    left: 50%;
    top: -5%;
    z-index: 1;
}
.page-4 .video-2{
    width: 26%;
    position: relative;
    top: -39%;
    left: 16%;
}
/*-------------------PAGE-5--------------------*/
.root .page-5{
    height: 80vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
    
}
.page-5 h1{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    position: relative;
    top: 37%;
    left: 47%;
    width: 38vw;
}
.page-5 h4{
    font-weight: 400;
    color: aliceblue;
    position: relative;
    top: 40%;
    left: 47%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    width: 40vw;
}
.page-5 .kids{
    position: relative;
    left: 6vw;
    top: -21%;
    width: 40vw;
}
/*-------------------PAGE-6--------------------*/
.root .page-6{
    height: 185vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.page-6 .faq{
    color: aliceblue;
    text-align: center;
   
    position: relative;
    top: 10%;
    /* width: 52vw; */
    /* left: 25%; */
    font-size: 3rem;
}
.page-6 .accordion{
    margin: 46px auto;
    width: 76vw;
    position: relative;
    top: 10%;
}
.accordion li{
    list-style-type: none;
    margin: 20px;
    width: 100%;
    padding: 10px;
    background: #2d2d2d;
    
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    
}
.accordion .contents h4{
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 5vh;
}
input[type="radio"]
{
    display: none;
}
.accordion .contents{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s , padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .contents{

    max-height: 400px;
    padding: 10px 10px 20px;
}
.page-6 .membership{
    position: relative;
    text-align: center;
    top: 10%;
    font-weight: normal;
    font-size: 1.25rem;
    left: 13vw;
    width: 75vw;
}
.page-6 button{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 22px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 57vw;
    position: relative;
    top: 2vh;
    border-radius: 6px;
    cursor: pointer;
}
.page-6 button:hover{
    background-color: #bc0000;
    transition: 0.5s ease;
}
.page-6 button .h4{
    width: 10vw;
    font-size: x-large;
}
.page-6 #email-2{
    width: 25vw;
    height: 10vh;
    position: relative;
    left: 30.6vw;
    margin-top: 61px;
    border-radius: 6px;
    background: rgba(9, 9, 9, 0.8);
    border: 0.5px solid rgb(129, 129, 129);
    top: 12vh;
   
}
.page-6 #email-2::placeholder{
    color: #b0b0b0;
    padding: 0 20px;
    font-size: 17px;
    
    
}
/*-------------------PAGE-6--------------------*/
.root .page-7{
    height: 60vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0%;
    overflow: hidden;
}
.page-7 .footer .row{
    
    color: #8f969c;
    align-items: center;
    

    

}
.page-7 .footer{
    display: flex;
    gap: 10vw;
    position: relative;
    top: 15vh;
    left: 10vw;
    width: 80vw;
   
}
.page-7 .footer ul li{
    list-style-type: none;
    line-height: 2.5rem;
    text-decoration: underline;
    position: relative;
    font-size: large;
    
}
.page-7 h4{
    color: #8f969c;
    width: 23vw;
    position: relative;
    top: 20%;
    left: 10%;
    font-weight: normal;
}
.page-7 .last-option{
    width: 7vw;
    height: 5vh;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    position: relative;
    background: rgba(9, 9, 9, 0.8);
    border: 0.5px solid rgb(129, 129, 129);
    color: aliceblue;
    left: 10vw;
    top: 18vh;
    
}

.page-7 h5{
    color: #ffffff;
    width: 7vw;
    position: relative;
    left: 10.5vw;
    top: 20vh;
    font-weight: normal;
    color: #8f969c;
}